.login
{
    width: 460px;
    padding: 30px;
    margin-top: 50px;
}

.login h2
{
    color: #666666;
    font-weight: 300;
    letter-spacing: -1px;
}

.login label 
{
    color: #909090;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1;
    cursor: pointer;
    display: block;
}

#login-message
{
    margin-bottom: 10px;
}