.sales-info {
    display: table;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.sales-info > div {
    display: table-row;
}

.sales-info-header {
    background-color: #F2F2F2;
}

.sales-info-header > div {
    display: table-cell;
}

.sales-info-detail-row > div {
    display: table-cell;
}

.sales-info-detail-row-title a {
    cursor: pointer;
}

.sales-info-detail-row-title a:hover {
    border-bottom: 1px #687b99 dashed;
}

.sales-info-detail-row:hover {
    background-color: #ddf2ad;
}